@mixin layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1300px;
  background-color: $darkgray;
  color: white;
}

@mixin navbar {
  margin: 10px 0;
  display: flex;
  height: 70px;
}

@mixin navIcon {
  width: 40px;
  margin: 20px;
  filter: grayscale(100%) brightness(200%);
  &:active {
  filter: none;
  }
}

@mixin shuffleBtn {
  margin: 0 20px;
  padding: 0 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

@mixin button {
  background-color: transparent;
  color: $white;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 1em;
  padding: 10px 15px 15px 15px;
  &:active {
    background-color: $white;
    color: $darkgray;
  }
}
