@import './src/sass/mixins';
@import './src/sass/variables';

.wrapper {
  @include layout;
}

img {
 @include navIcon;
}

.navbar {
  @include navbar;
  .shuffle {
    @include shuffleBtn;
  }
}

.results {
  position: relative;
  margin-top: 10px;
  h1 {
    text-align: center;
    font-size: 1.5em;
    color: $orange;
  }
  ul {
    margin: 20px;
    list-style: none;
    li {
      line-height: 30px;
      padding: 30px 0;
      border-bottom: 0.1px solid $mintblue;
    }
    li:first-of-type {
      border-top: 0.1px solid $mintblue;
    }
    .arrows {
      position: absolute;
      right: 30px;
      font-size: 1.3em;
    }
    .title {
      color: $mintblue;
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}
