@import './src/sass/mixins';
@import './src/sass/variables';

.container {
  height: 900px;
  background: linear-gradient(#F6FA61, #F76B1C);
}

img {
  width: 55%;
}

.main {
  transform: translateY(-150px);
  position: relative;
  display: flex;
  justify-content: center;
  .logo {
    text-align: center;
    position: absolute;
    top: 496px;
    p {
      margin: 10px 0 50px 0;
      font-size: 1.2em;
      color: white;
    }
    a {
      @include button;
      text-decoration: none;
      opacity: 0;
      animation: enterBtn 0.5s linear 8s;
      animation-fill-mode: forwards;
      }
    }
  .feather {
    position: absolute;
    top: -200px;
    transform: rotate(-95deg);
    animation: featherDrop 8s ease-in-out 0s;
    animation-fill-mode: forwards;
  }
  @keyframes enterBtn {
    0% {}
    100% {opacity: 1}
  }
  @keyframes featherDrop {
    0% {}
    10% {transform: translate(250px, 50px) rotate(-120deg)}
    25% {transform: translate(-250px, 150px) rotate(-70deg)}
    40% {transform: translate(200px, 250px) rotate(-100deg)}
    55% {transform: translate(-230px, 350px) rotate(-70deg)}
    70% {transform: translate(160px, 410px) rotate(-95deg)}
    80% {transform: translate(-100px, 470px) rotate(-70deg)}
    90% {transform: translate(55px, 495px)}
    95% {transform: translate(60px, 515px) rotate(10deg)}
    100% {transform: translate(50px, 495px)}
  }
}
