<div class="wrapper">
  <div class="navbar">
    <div class="search">
      <a routerLink="/search"><img src="assets/search-hover.png" alt="search icon"></a>
    </div>
    <div class="shuffle">
      <a routerLink="/poem"><img src="assets/shuffle.png" alt="shuffle icon"></a>
    </div>
    <div class="favorites">
      <a routerLink="/search"><img src="assets/favorites.png" alt="favorites icon"></a>
    </div>
  </div>
  <div class="form">
    <h1>what's the occasion?</h1>
    <form>
      <div class="form-group">
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="anniversary">
            <span>Anniversary</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="birthday">
            <span>Birthday</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="breakup">
            <span>Breakup</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="casual">
            <span>Casual Hookup</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="congratulations">
            <span>Congratulations</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="farewell">
            <span>Farewell</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="father">
            <span>Father's Day</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="halloween">
            <span>Halloween</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="mother">
            <span>Mother's Day</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="spring">
            <span>Spring</span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="occasion" value="winter">
            <span>Winter</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="theme">search by theme keyword:</label><br>
        <input id="theme" type="text" name="theme">
      </div>
      <div class="form-group">
        <label for="author">search by author:</label><br>
        <input id="author"type="text" name="author"><br>
        <button routerLink="/results" type="submit" name="submit">find poems</button>
      </div>
    </form>
  </div>
</div>
